// Colors
// Primary
$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);

// Neutral
$VeryDarkBlue: hsl(234, 12%, 34%);
$GrayishBlue: hsl(229, 6%, 66%);
$VeryLightGray: hsl(0, 0%, 98%);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: {
    family: "Poppins", sans-serif;
    size: 15px;
  }
  background-color: $VeryLightGray;
  color: $GrayishBlue;
  margin: 4rem 2rem;
  display: grid;
  place-items: center;
}

header {
  text-align: center;
  margin-bottom: 4rem;
  max-width: 550px;
  p {
    font-size: 16px;
  }
}

h1 {
  font: {
    size: min(6.5vw, 2.5rem);
    weight: 200;
  }
  margin-bottom: 1rem;
  color: $VeryDarkBlue;
  span {
    display: block;
    font-weight: 600;
  }
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  max-width: 400px;
  padding: 1.2rem 1.5rem;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.04), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
  img {
    display: block;
    margin: 1rem {
      top: 2.5rem;
    }
    max-width: 60px;
    align-self: flex-end;
  }
  h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: $VeryDarkBlue;
  }
}

section:nth-child(1) {
  border-top: 4px solid $cyan;
  grid-area: one;
}
section:nth-child(2) {
  border-top: 4px solid $red;
  grid-area: two;
}
section:nth-child(3) {
  border-top: 4px solid $orange;
  grid-area: three;
}
section:nth-child(4) {
  border-top: 4px solid $blue;
  grid-area: four;
}

.attribution {
  font-size: 11px;
  text-align: center;
  font-weight: bold;
  margin-top: 3rem;
}
.attribution a {
  text-decoration: none;
  color: #4c4c4c;
}
.attribution a:hover {
  border-bottom: 2px solid #4c4c4c;
}

@media screen and (min-width: 1000px){
    main{
        display: grid;
        place-items: center;
        grid-template-areas: 'one two four' 'one three four';
    }
}